body{

    margin: 0;

}

.page1{

    height: 100vh;
    width: 100%;

}

header{

    background-color: aqua;
    font-family: 'Memphis';
    font-size: 50px;
    padding: 15px;
    font-weight: bold;
    font-style: italic;

}

.char{

    position: absolute;
    right: 0;
    top: 0;
    max-height: 100vh;

}

/* .content{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 80vh;

} */

.buttons{

    display: flex;
    flex-direction: column;
    margin-left: -10px;
    row-gap: 40px;
    margin-top: 5%;


}

.buttons>div{

    background-color: darkorange;
    font-family: 'Memphis';
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
    width: 20%;
    transition: 0.3s;

}

.buttons>div:hover{

    
    width: 30%;
    cursor: pointer;

}

@font-face{

    font-family: Memphis;
    src: url("/fonts/Memphis.ttf");

}