body{

    margin: 0;

}

.page1{

    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

}

header{

    background-color: aqua;
    font-family: 'Memphis';
    font-size: 50px;
    padding: 15px;
    font-weight: bold;
    font-style: italic;

}

.char{

    position: absolute;
    right: 0;
    top: 0;
    animation: float 5s ease-in-out infinite;
    filter: drop-shadow(10px 5px 0px black);


}

/* .content{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 80vh;

} */

.buttons{

    display: flex;
    flex-direction: column;
    margin-left: -10px;
    row-gap: 40px;
    margin-top: 5%;


}

.buttons>div{

    background-color: darkorange;
    font-family: 'Memphis';
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
    width: 20%;
    transition: 0.3s;

}

.buttons>div:hover{

    
    width: 30%;
    cursor: pointer;

}

.aboutSection{

    display: none;
    margin-left: -10px;
    position: absolute;
    background-color: orange;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Memphis';
    font-size: 20px;
    width: 60%;
    border-color: black;
    border-style: solid;
    border-radius: 0 20px 20px 0;
    margin-top: 15px;

}

.aboutIcons{

    display: flex;
    justify-content: space-evenly;

}

.aboutIcons>a{

    transition: 0.1s ease-in-out;

}

.aboutIcons>a:hover{

    scale: 1.1;

}

.aboutBack{

    display: inline-block;

}

.aboutBack:hover{

    cursor: pointer;

}

.aboutSkillsIcons{


    display: flex;
    justify-content: space-evenly;
    filter: drop-shadow(1px 1px 0px black);

}

@font-face{

    font-family: Memphis;
    src: url("/fonts/Memphis.ttf");

}

@keyframes float{

    0%{

        transform: translateY(0px);

    }
    50%{

        transform: translateY(20px);

    }
    100%{

        transform: translateY(0px);

    }

}